
.btn{
    
    padding: 10px 20px;
    cursor: pointer;
    background-color: #646cff;
    border: none;
    color: white;
    font-weight: bold;
    transition:0.3s;
}

.btn:hover{
    background-color: #4e56d9;
}

.counter{
    font-size: 20px;
    margin-bottom: 20px;
}
.button-group{
    display: flex;
    gap:15px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* flex-direction: column;
  align-items: center;   
  justify-content: center; 
  min-height: 100vh;  
  text-align: center; */