
.btn{
    
    padding: 10px 20px;
    cursor: pointer;
    background-color: #646cff;
    border: none;
    color: white;
    font-weight: bold;
    transition:0.3s;
}

.btn:hover{
    background-color: #4e56d9;
}